{% extends "layouts/base.html" %}
   {% load static %}
    {% block content %}
    <div class="main"> 
    <h1>Bienvenidos a la lista de proyectos y tareas</h1>
    </br>
    <h2>Pasos para usarla</h2>
    <ol>
      <li>Entra a "Create projects" y crea un proyecto al cual quieras desglosar tareas</li>
      <li>Una ves creado el proyecto dirigete a "Create Task"</li>
      <li>Una ves ahi seleccionas el proyecto del cual crearas las tareas</li>
    </ol>

    <p>Esto es importante para enfocarte en un proyecto grande y desglosarlo en pequeños pasos para su cumplimiento, buena suerte!</p>
   </div>
    {% endblock %}
